extends loginLayout
block content
  main
   style.
    input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }
     input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }
    input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    input[type=submit]:hover {
    background-color: #45a049;
    }
    div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    }
    div[class=box]{
      text-align:center;
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 10px solid #ccc;
      border-radius: 10px;
      border-color:#45a049;
      box-sizing: border-box;

    }
  head
 
    //- script.
    
    //-   function checkPasswordMatch() {
        //- var password = $("#p1").val();
    //-     var confirmPassword = $("#p2").val();

    //-     if (password != confirmPassword)
    //-       $("#divCheckPasswordMatch").text("Passwords do not match!");
    //-     else
    //-       $("#divCheckPasswordMatch").text("Passwords match.");
    //-   }

    //-   $(document).ready(function () {
    //-     $("#p2").keyup(checkPasswordMatch);
    //-   });

    script(src="/javascripts/checkPassword.js").

  div(style='padding:50px;background-color:white;')
    div(class="box")
      //- h1 Join Now
      form(action='/signUp/newCompany', method='POST')
            h3 Sign-up for businesses
            input.ghost-input(id = 'n', name='name', type='text', placeholder='Name', required='y')
            br
            input.ghost-input(id = 'u',name='username', type='text', placeholder='Username', required='y')
            br
            input.ghost-input(id = 'e',name='email', type='text', placeholder='Email', required='y')
            br
            input.ghost-input(id = 'w',name='website', type='text', placeholder='Website (optional)', required='y')
            br
            input.ghost-input(id = 'p1', name='password', type='password', placeholder='Password', required='y', onkeyup='checkPasswordMatch();' )
            br
            input.ghost-input(id = 'p2',name='passwordConfirm', type='password', placeholder='Password', required='y', onkeyup='checkPasswordMatch();')
            br
            br
            p(id="divCheckPasswordMatch") 
            p(id="divCheckPasswordLen") 
            input.ghost-button(type='submit', value='Sign Up')
            //- p(id="divCheckPasswordMatch")
            //- div(class="registrationFormAlert" id="divCheckPasswordMatch")
    //- div(class='box')
    //-   h1 Not looking for a job?
    //-   Button Register Your Company

    

    br
  
