doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/inputCheck.js").
  body
  nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-0.shadow
    a.navbar-brand.col-sm-3.col-md-2.mr-0(href='/') Bulldogs Health
    ul.navbar-nav.px-3
      li.nav-item.text-nowrap
      a.nav-link(href="/") Sign out

  .container-fluid
    .row
      nav.col-md-2.d-none.d-md-block.bg-light.sidebar
        .sidebar-sticky
          ul.nav.flex-column
            li.nav-item
              a.nav-link.active(href="/") Dashboard


          h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
            Saved Options
          a.d-flex.align-items-center.text-muted(href="#")
          span(data-feather="plus-circle")
            ul.nav.flex-column.mb-2
              li.nav-item
                a.nav-link(href="/users") My Job Posts
                a.nav-link(href="/companies") Browse Jobs
  block content
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/bootstrap.min.js')
  
  block style
  main
   style.
    input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }
     input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }
    input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    input[type=submitCompany] {
    width: 30%;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    
    button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    input[type=submit]:hover {
    background-color: #45a049;
    }
    //- div {
    //- border-radius: 5px;
    //- background-color: #f2f2f2;
    //- padding: 20px;
    //- }
    div[class=box]{
      text-align:center;
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 10px solid #ccc;
      border-radius: 10px;
      border-color:#45a049;
      box-sizing: border-box;

    }
    