extends layout
block content
  main.col-md-9.ml-sm-auto.col-lg-10.px-4
    h2 Jobs Dashboard
    .table-responsive
      table.table.table-striped.table-sm
        thead
          tr
          th Job ID
          th Title
          th Location
          th Availability
          th Details
          th Certifications
        tbody
          tr
          td 01
          td Registered Nurse/RN
          td Orlando, FL
          td Open
          td 4 days a week, 12pm to 9pm
          td nursing degree