doctype html
html
  head
    style.
      div[class='jumbotron']{
        font: 20px Montserrat, sans-serif;
        padding:100px;
        margin: 150px 0px;
      }
      
      input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      }
      input[type=submit] {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      }
      input[type=submit]:hover {
      background-color: #45a049;
      }
      div {
      border-radius: 40px;
      padding: 30px;
      }
      div[type="help"]{
        text-align:center;
        width: 50%;
        padding: 20px 20px;
        margin: 10px 5px;
        display: inline-block;
        border: 10px solid #ccc;
        border-radius: 10px;
        border-color:#45a049;
        box-sizing: border-box;
        background-color: white;
      
      }
      //- #####################
      body {
      font: 20px Montserrat, sans-serif;
      //- line-height: 1.8;
      color: #f5f6f7;
      }
      p {font-size: 16px;}
      .margin {margin-bottom: 45px;}
      .bg-1 { 
        background-color: #45a049; /* Green */
        color: #ffffff;
      }
      .bg-2 { 
        background-color: #474e5d; /* Dark Blue */
        color: #ffffff;
      }
      .bg-3 { 
        background-color: #ffffff; /* White */
        color: #555555;
      }
      .bg-4 { 
        background-color: #2f2f2f; /* Black Gray */
        color: #fff;
      }
      .flex-container {
        display: flex;
        width:50vw;
        justify-content: center;
      }
      .container-fluid {
        padding-top: 70px;
        padding-bottom: 70px;
        
      }
      .container-bd {
        height:100vh;
        //- padding:0px;
        max-width: 100vw;
        border-radius: 0px;
        //- margin-bottom:20px;
        //- padding:2px;
        //- overflow-x: hidden; 
        
      }
      .navbar {
        padding-top: 15px;
        padding-bottom: 15px;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
        font-size: 12px;
        letter-spacing: 5px;
      }
      .img-margin{
        margin-bottom: 40px;

      }
      #div_ul {
        background-color:#eeeeee;
        display:inline;      
      }
      #my_ul li {
        display: inline;
      }
    
      .navbar-nav  li a:hover {
        color: #1abc9c !important;
      }
      //- .div-with-bg{
      //-   background: color url('http://localhost:3000/public/images/1.jpg') others;
      //- }
   


    title= title
    //- meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet")
    //- meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //- nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.navbar-expand-lg.p-0.shadow
    //-   a.navbar-brand.col-sm-4.col-md-2.mr-0(href='/') Bulldogs Health
    //-   a.nav-link.col-sm-4(href="/login") Sign in
    //-   ul.navbar-nav.px-3(id='my_ul')
    //-     li(class='nav-item text-nowrap')
    //-       a.nav-link(href="/login") Sign in
    //-     li(class='nav-item text-nowrap')
    //-       a.nav-link(href="#help") View Jobs
    
    nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.navbar-expand-lg.p-0.shadow
      a.navbar-brand.col-sm-4.col-md-2.mr-0(href='/') Bulldogs Health
      a.nav-link.col-sm-1
      a.nav-link.col-sm-2(href="#jobs") View Jobs
      a.nav-link.col-sm-2(href="#about") About Us
      a.nav-link.col-sm-2(href="#team") The Team
      a.nav-link.col-sm-2(href="#signup") Sign Up
      a.nav-.navbar-brand.col-sm-2(href="/login") Sign in
      
    

    nav.navbar.navbar-dark.fixed-bottom.bg-dark.flex-md-nowrap.p-0.shadow
      a.navbar-brand.col-sm-12.col-md-12.mr-0(href='/') © 2019 Bulldogs Health
    script(src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js")

  block content
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script.
    AOS.init();
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script.
    $(document).ready(function(){
      $("a").on('click', function(event) {
        if (this.hash !== "") {
          event.preventDefault();
          var hash = this.hash;
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 1000, function(){ 
            window.location.hash = hash;
          });
        } // End if
      });
    });
 
  